extends base/layout
block head
  // STYLES
  link(rel="stylesheet", href="/css/drake.css?v=#{assetsVersion}", type="text/css")
  // SHORTCUT ICONS:
  link(rel='shortcut icon', href='img/favicon.png?v=#{assetsVersion}')
  link(rel="apple-touch-icon", href="/img/apple-touch-icon.png?v=#{assetsVersion}")
  link(rel="apple-touch-icon-precomposed",  href="/img/apple-touch-icon-precomposed.png?v=#{assetsVersion}")
  // APPLE
  meta(name="description", content="Developer, Designer, Writer'")
  meta(name="author", content="Cameron Drake")
  meta(name='keywords', content='Cameron, Drake, design, developer, engineer, coder, writer, San Francisco, freelancer, entrepreneur, business, node.js, Stanford, Chicago, designer, user interface, UI, UX, web design, web development, web developer, programmer, sports, comedy, photographer, photography')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  // FACEBOOK
  meta(property="og:title", content="Cameron W. Drake Design")
  meta(property="og:description", content="Coder, Writer, Designer")
  meta(property="og:image", content="")
  // TWITTER
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@camwes')
  meta(name='twitter:creator', content='@individual_account')
  meta(name='twitter:url', content='http://drake.fm')
  meta(name='twitter:title', content='Cameron W. Drake')
  meta(name='twitter:description', content='Coder, Writer, Designer')
  meta(name='twitter:image', content='http://www.example.com/path/to/image.jpg')
  // EXTENSIONS: https://github.com/h5bp/html5-boilerplate/blob/master/doc/extend.md
  // CHROME
  // link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/APP_ID")
  // APP STORE
  // meta(name="apple-itunes-app", content="app-id=APP_ID,app-argument=SOME_TEXT")
block content
  header
    .overlay
      .blurb
        .watermark
        h2.title Developer & Designer
  #map_canvas
  .work
    .social
      a(href="https://github.com/camwes", target="_blank")
        svg#github.social-buttons
      a(href="https://twitter.com/camwes", target="_blank")
        svg#twitter.social-buttons
      a(href="https://plus.google.com/u/0/+CameronDrake88/", target="_blank")
        svg#google.social-buttons
  #tumblr
  #photography
  #designs
  footer
    .copyright 
      a(href='/blog', target='_blank') blog 
      &#124; 
      a(href='/work', target='_blank') portfolio 
      &#124; Cameron W. Drake &copy; 2014
block scripts
  script(type="text/javascript", src="/js/base/utils.js?v=#{assetsVersion}")
  script(type='text/javascript', src="/js/ui/gmapper.js?v=#{assetsVersion}")
  script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyC4Tnw7DEdnK7-mr7MG0a60H9qTIE87NQc&sensor=true&libraries=places')
block onload
  script(type="text/javascript").
    var gmapper = new Gmapper({
      icon: "img/apple-touch-icon-precomposed.png",
      scrollWheel: false,
      theme: "BW",
      overlay: false,
      lat: 41.80,
      lng: -87.60,
      search: false,
      query: "cameron",
      types: ["web design"],
      radius: 40000,
      zoom: 4
    });
