extends base/layout
block head
  // STYLES
  link(rel="stylesheet", href="/css/drake.css?v=#{assetsVersion}", type="text/css")
  // SHORTCUT ICONS:
  link(rel='shortcut icon', href='img/favicon.png?v=#{assetsVersion}')
  link(rel="apple-touch-icon", href="/img/apple-touch-icon.png?v=#{assetsVersion}")
  link(rel="apple-touch-icon-precomposed",  href="/img/apple-touch-icon-precomposed.png?v=#{assetsVersion}")
  // APPLE
  meta(name="description", content="Developer, Designer, Writer'")
  meta(name="author", content="Cameron Drake")
  meta(name='keywords', content='Cameron, Drake, design, developer, engineer, coder, writer, San Francisco, freelancer, entrepreneur, business, node.js, Stanford, Chicago, designer, user interface, UI, UX, web design, web development, web developer, programmer, sports, comedy, photographer, photography')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  // FACEBOOK
  meta(property="og:title", content="Cameron W. Drake Design")
  meta(property="og:description", content="Coder, Writer, Designer")
  meta(property="og:image", content="")
  // TWITTER
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@camwes')
  meta(name='twitter:creator', content='@individual_account')
  meta(name='twitter:url', content='http://drake.fm')
  meta(name='twitter:title', content='Cameron W. Drake')
  meta(name='twitter:description', content='Coder, Writer, Designer')
  meta(name='twitter:image', content='http://www.example.com/path/to/image.jpg')
block content
  .hotties
    for hottie in hotties
      figure.hot-caption(style="background:url('#{hottie.profile.url()}')")
        .overlay(onclick="lightbox('#{hottie.profile.url()}')")
          .rank #{hottie.rank}
          h1.name #{hottie.displayName}
        figcaption
          h4 #{hottie.profession}
          - if (hottie.instagram)
            a(href="http://instagram.com/#{hottie.instagram}", target="_blank")
              p instagram
          - if (hottie.tumblr)
            a(href="#{hottie.tumblr}", target="_blank")
              p tumblr
          - if (hottie.twitter)
            a(href="http://twitter.com/#{hottie.twitter}", target="_blank")
              p twitter
          - if (hottie.website)
            a(href="#{hottie.website}", target="_blank")
              p site
  .lightbox(onclick="this.style.display='none'")
    #fullscreen_image
block scripts
  script(type="text/javascript", src="/js/base/utils.js?v=#{assetsVersion}")
  script(type='text/javascript', src="/js/ui/gmapper.js?v=#{assetsVersion}")
  script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyC4Tnw7DEdnK7-mr7MG0a60H9qTIE87NQc&sensor=true&libraries=places')
block onload
