extends base/layout
block head
  // STYLES
  link(rel="stylesheet", href="/css/style.css?v=#{assetsVersion}", type="text/css")
  // SHORTCUT ICONS:
  link(rel='shortcut icon', href='img/favicon.png')
  link(rel="apple-touch-icon-precomposed",  href="/img/apple-touch-icon-precomposed.png")
  // APPLE
  meta(name="description", content="")
  meta(name="author", content="")
  meta(name='keywords', content='')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  // FACEBOOK
  meta(property="og:title", content="title")
  meta(property="og:description", content="The best in the business")
  meta(property="og:image", content="")
  // TWITTER
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@site_account')
  meta(name='twitter:creator', content='@individual_account')
  meta(name='twitter:url', content='http://www.example.com/path/to/page.html')
  meta(name='twitter:title', content='')
  meta(name='twitter:description', content='')
  meta(name='twitter:image', content='http://www.example.com/path/to/image.jpg')
block content
  h1 Instagram Lightbox Plugin
  a(data-instagram="79822", class="lb-instagram")
    button.btn.btn-default cdrake757 Instagram
  h1 Gmapper Plugin
  #map_canvas
  #general-error-wrapper
    #general-error
  #lightbox_fade
    #fullscreen_image
    .glyphicon.glyphicon-th.buckets.lb-thumbs-toggle.buckets
    .glyphicon.glyphicon-remove-circle
    ul#thumbnails(class="thumbnails")
  #loading
    #loading-indicator
block scripts
  // SITE SCRIPTS
  - if (settings.env == 'development')
    script(type='text/javascript', src='/js/base/bootstrap-custom.min.js')
    script(type='text/javascript', src='/js/base/prism-custom.js')
    script(type="text/javascript", src="/js/base/utils.js?v=#{assetsVersion}")
    script(type='text/javascript', src="/js/ui/Gmapper.js?v=#{assetsVersion}")
    script(type='text/javascript', src="/js/ui/LightBox.js?v=#{assetsVersion}")
    script(type='text/javascript', src="/js/ui/ScrollMenu.js?v=#{assetsVersion}")
    script(type='text/javascript', src="/js/ui/ScrollVideo.js?v=#{assetsVersion}")
    script(type='text/javascript', src="/js/ohm.js?v=#{assetsVersion}")
  - else if (settings.env == 'production')
    script(type="text/javascript", src="/js/ohm.min.js?v=#{assetsVersion}")
  script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=#{dependencies.gmaps}&sensor=true&libraries=places')

block onload
  script(type="text/javascript").
    var gmapper = new Gmapper({
      locations: [{
        "description": "This is an example of how to use the Gmapper, You basically only need to include am icon, latLng, name and url.",
        "icon": "http://drake.fm/img/apple-touch-icon-precomposed.png",
        "latLng": {
          "__type": "GeoPoint",
          "latitude": 41.890212,
          "longitude": -87.624967
        },
        "name": "Drake.fm",
        "url": "http://drake.fm"
      }],
      scrollWheel: false,
      theme: "BW",
      overlay: false,
      lat: 41.80,
      lng: -87.60,
      search: false,
      query: "cameron",
      types: ["web design"],
      radius: 40000,
      zoom: 4
    });
