extends layout
block head
  //////////////////////////////////////
  // STYLES
  //////////////////////////////////////
  link(rel="stylesheet", href="/css/weiss.css", type="text/css" data-skrollr-stylesheet)
  //////////////////////////////////////
  // SHORTCUT ICONS:
  //////////////////////////////////////
  link(rel='shortcut icon', href='img/weiss-favicon.png')
  link(rel="apple-touch-icon-precomposed",  href="/img/apple-touch-icon-precomposed.png")
  //////////////////////////////////////
  // APPLE
  //////////////////////////////////////
  meta(name="description", content="Weiss Orthopaedics")
  meta(name="author", content="Cameron Drake")
  meta(name='keywords', content='Weiss, doctor, Noah Weiss, Top Doctors, Orthopedic Surgeons, orthopaedic, orthopedic, surgery, surgeon, osteoarthritis, splinting, fracture, arthritis, joints, trauma, musculoskeletal, arthroscopy, total joint replacement, sports medicine, hip replacement, spine, knee, shoulder, elbow, foot, ankle, hand, knee replacement, tumor, cancer, infection, carpal tunnel, hip')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  //////////////////////////////////////
  // FACEBOOK
  //////////////////////////////////////
  meta(property="og:title", content="Weiss Orthoaedics: Over 20 years of putting you back to work and back on your feet.")
  meta(property="og:description", content="Weiss Orthopaedics in Northern California provides exceptional care for orthopaedic injuries and conditions, including Sports Medicine, Hand Surgery, Shoulder and Elbow Arthroscopy & Reconstruction, Knee and Cartilage Repair, and Joint Reconstruction.")
  meta(property="og:image", content="http://drake.fm/img/drake/logo.png")
  meta(property="og:url", content="http://www.weissortho.com/")
  //////////////////////////////////////
  // TWITTER
  //////////////////////////////////////
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@WeissOrtho')
  meta(name='twitter:creator', content='@camwes')
  meta(name='twitter:url', content='http://www.weissortho.com/')
  meta(name='twitter:title', content='Weiss Orthoaedics: Over 20 years of putting you back to work and back on your feet.')
  meta(name='twitter:description', content='Weiss Orthopaedics in Northern California provides exceptional care for orthopaedic injuries and conditions, including Sports Medicine, Hand Surgery, Shoulder and Elbow Arthroscopy & Reconstruction, Knee and Cartilage Repair, and Joint Reconstruction.')
  meta(name='twitter:image', content='http://drake.fm/img/drake/logo.png')
block content
  header
    .wrapper
      .logo-head
      ul.nav
        li 
          a(href='#one', data-anchor-target='#one') Hurt?
        li 
          a(href='#two', data-anchor-target='#two') Dr. Weiss
        li
          a(href='#three', data-anchor-target='#three') Patients
        li
          a(href='#office', data-anchor-target='#office') The Office
  section#one
    figure#body
      .model
        for bodypart in bodyparts
          svg.body-part(id=bodypart.name, width=108, height=108, x=0, y=0)
            g
              circle(cx=54, cy=54, r=40)
              text.name(dx=54, dy=54) #{bodypart.name}
              text.description #{bodypart.description}
              text.short #{bodypart.short}
              g.maladies
                for malady in bodypart.maladies
                  text.malady #{malady}
  section#two
  section#three
  section#office
    figure#office-details.hidden
      .offices-info
        for location in locations
          .location-details(id=location.objectId)
            article.name #{location.name}
            article.type #{location.type}
            article.address #{location.readable_address}
            article.phone #{location.type}
    #map_canvas
  #general-error-wrapper
    #general-error
  #scrollTop
  #progress
  a(href="https://www.facebook.com/WeissOrthopedics", target="_blank")
    svg#facebook.social-buttons
  a(href="https://twitter.com/weissortho", target="_blank")
    svg#twitter.social-buttons
  a(href="https://plus.google.com/115183251808414290042/about?gl=US&hl=en-US", target="_blank")
    svg#google.social-buttons
block onload
  script(type="text/javascript").
    window.addEventListener("load", function() { onLoad(); }, false);
    function onLoad()
    {
      bodyParts();
      if (typeof skrollr !== 'undefined'){
        var skroll = skrollr.init({forceHeight:false, smoothScrolling:true});
        //The options (second parameter) are all optional. The values shown are the default values.
        skrollr.menu.init(skroll, {
            //skrollr will smoothly animate to the new position using `animateTo`.
            animate: true,
            //The easing function to use.
            easing: 'sqrt',
            //How long the animation should take in ms.
            duration: function(currentTop, targetTop) {
                //By default, the duration is hardcoded at 500ms.
                return 500;
                //But you could calculate a value based on the current scroll position (`currentTop`) and the target scroll position (`targetTop`).
                //return Math.abs(currentTop - targetTop) * 10;
            },
        });
        var socket = io.connect('http://' + document.domain);
        socket.on('news', function (data) {
          console.log(data);
          socket.emit('my other event', { my: 'data' });
        });
      }
      // Load Google Map with Black and White theme
      if (typeof google !== 'undefined'){
        initializeMap({ 
          lat: 38.042165,
          lng: -122.5381458,
          scrollWheel: false,
          theme: "",
          overlay: true,
          gplus: true,
          gplus_query: "Weiss Orthopaedics",
          gplus_types: ["doctor"],
          gplus_radius: 40000,
          icon: "img/weiss-favicon.png",
          locations: !{JSON.stringify(locations)},
          socket: socket
        });
      }
    }