extends layout
block head
  //////////////////////////////////////
  // STYLES
  //////////////////////////////////////
  link(rel="stylesheet", href="/css/weiss.css", type="text/css" data-skrollr-stylesheet)
  //////////////////////////////////////
  // SHORTCUT ICONS:
  //////////////////////////////////////
  link(rel='shortcut icon', href='img/drake/weiss-favicon.png')
  link(rel="apple-touch-icon-precomposed",  href="/img/apple-touch-icon-precomposed.png")
  //////////////////////////////////////
  // APPLE
  //////////////////////////////////////
  meta(name="description", content="Node Boilerplate")
  meta(name="author", content="ohmlabs")
  meta(name='keywords', content='')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  //////////////////////////////////////
  // FACEBOOK
  //////////////////////////////////////
  meta(property="og:title", content="title")
  meta(property="og:description", content="The best in the business")
  meta(property="og:image", content="")
  //////////////////////////////////////
  // TWITTER
  //////////////////////////////////////
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@site_account')
  meta(name='twitter:creator', content='@individual_account')
  meta(name='twitter:url', content='http://www.example.com/path/to/page.html')
  meta(name='twitter:title', content='')
  meta(name='twitter:description', content='')
  meta(name='twitter:image', content='http://www.example.com/path/to/image.jpg')
block content
  header
    .wrapper
      .logo-head
      ul.nav
        li 
          a(href='#one', data-anchor-target='#one') Hurt?
        li 
          a(href='#two', data-anchor-target='#two') Dr. Weiss
        li
          a(href='#three', data-anchor-target='#three') Patients
        li
          a(href='#office', data-anchor-target='#office') The Office
  section#one
    figure#body
      .model
        for bodypart in bodyparts
          svg.body-part(id=bodypart.name, width=108, height=108, x=0, y=0)
            g
              circle(cx=54, cy=54, r=40)
              text.name(dx=54, dy=54) #{bodypart.name}
              text.description #{bodypart.description}
              text.short #{bodypart.short}
              g.maladies
                for malady in bodypart.maladies
                  text.malady #{malady}
  section#two
  section#three
  section#office
    figure#office-details
      .offices
        for location in locations
          .location-details(id=location.objectId)
            article.name #{location.name}
            article.type #{location.type}
            article.address #{location.readable_address}
            article.phone #{location.type}
    #map_canvas
  #general-error-wrapper
    #general-error
  #scrollTop
  #progress
  script(type="text/javascript").
    var locations = !{JSON.stringify(locations)};
